<template name="projects">
    
    <div class="row">
      <div class="col s12">

         <h2> Mis Proyectos </h2>
<!-- Formulario para crear nuevos proyectos -->
         <a class="btn" href="{{ pathFor 'project_form'}}">
               Añadir nuevo proyecto

         </a>
<!-- Aquí colocaremos el buscador -->   
         {{> EasySearch.Input index=projects}}

 <!-- Aquí revisaremos los proyectos que tiene un usuario -->
          <ul class="collection with-header">
          
                   {{#EasySearch.Each index=projects}}
                     

                   <li class="collection-item">

                      <div>
                          {{name}}
                        <!-- en el siguiente enlace se encuentran las opciones para cada
                        proyecto en la lista -->
                          {{>project_links}}
                          
                      </div>
                  
                   </li>
                   {{/EasySearch.Each}}

<!-- para colocar mensaje si no hay resultados en la búsqueda -->

                   {{#EasySearch.IfNoResults index=projects}}

                         <li class="collection-item"> No hay resultados..</li>

                    {{/EasySearch.IfNoResults}}
<!-- para colocar Buscando -->

                   {{#EasySearch.IfSearching index=projects}}

                         <li class="collection-item"> Buscando...</li>

                    {{/EasySearch.IfSearching}}

          </ul>    

<!-- para la paginación se coloca el siguiente código -->
     
          {{> EasySearch.Pagination index=projects}}
               


      </div>    
    </div>

</template>